.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  margin: 10px 0;
  padding: 0 10px;
}

.mobile-cont {
  flex-direction: column;
}
