.pieChartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pieChartWrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barChartContainer {
  width: 100%;
}
