.pieChartContainer {
  width: 100%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pieChartContainer > div {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.barChartContainer {
  width: 100%;
}