.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.mobile-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
}

.container > div {
  flex: 1;
  margin-top: 20px;
}